
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@include media-breakpoint-down(md) {
  .header-profession {
    display: none;
  }
}

.logo {
    max-height: 1em;
    margin-right: 0.5em;
    vertical-align: bottom;
}

.contact-logo {
  text-align: center;
}

.contact-logo img {
  max-height: 3em;
}

.betreuungsgebiet {
  height: 100%;
}
